<div id="login-container">
		<h1 class="text-center text-primary"><i>Quores</i></h1>
		<p class="text-center">Best insights from around the world</p>
		<hr>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="form-group col-md-3 panel panel-default">
				<form class="signup" action="/signup" method="post">
					<span class="text-center">SIGN UP</span><br>
					<input class="form-control" type="text" name="user[name]" placeholder="Full Name"><br>
					<input class="form-control" type="text" name="user[email]" placeholder="Email"><br>
					<input class="form-control" type="password" name="user[password]" placeholder="Password"><br>
					<input class="form-control" type="password" name="user[password_confirmation]" placeholder="Confirm Password"><br>
					<input class="btn btn-primary form-control" type="submit" value="Sign Up">
				</form>
				<br>
			</div>
			<div class="form-group col-md-3 panel panel-default">
				<form class="login" action="/sessions" method="post">
					LOGIN<br>
					<input class="form-control" type="text" name="user[email]" placeholder="Email"><br>
					<input class="form-control" type="password" name="user[password]" placeholder="Password"><br>
					<input class="btn btn-primary form-control" type="submit" value="Login">
				</form>
				<br>
			</div>
			<div class="col-md-3"></div>
		</div>
		<p class="text-center text-danger"><%= @message if @message %></p>
</div>	
