body {
	background-color: ghostwhite;
}

/*login and signup page*/

/*#navbar {
	background-color: indianred;
	display: flex;
	justify-content: space-between;
}

.quores  {
	text-decoration: none;
	font-size: 22px;
	font-style: italic;
	font-family: Verdana, sans-serif;
	color: white;
	padding-top: 8px;
	padding-left: 12px;
	padding-bottom: 8px;
}

.btn-group {
	margin-top: 7px;
	margin-right: 90px;
}

#main-container {
	max-width: 960px;
	margin: 0 auto;
}

#login-container {
	max-width: 600px;
	max-height: 300px;
	margin: 0 auto;
}

#login-container h1{
	text-align: center;
	color: maroon;
	font-size: 36px;
	font-style: italic;
	font-family: Verdana, sans-serif;
	font-weight: 600;
}

#login-container p {
	text-align: center;
	font-size: 22px;
	font-family: Verdana, sans-serif;
}

#signup-login-form {
	font-size: 16px;
	color: darkblue;
	max-width: 500px;
	height: 190px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: white;
	border: groove;
	border-radius: 5px;
}

.signup {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.login {
	float: right;
	margin-right: 10px;
	margin-top: 30px;
}

#message {
	max-width: 500px;
	margin: 0 auto;
	color: red;
	text-align: center;
	padding-top: 20px;
}*/

/*Main pages*/














