<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<title>Quora-Clone</title>
	</head>
	<body>
		<div id="navbar">
			<a href="/">Home</a>
				<% if logged_in? %>
					<div class="user"><%= "Welcome " + current_user.name %></div>
					<form action="/logout" method="post">
						<input type="submit" value="Logout">
					</form>
					<button><a href="/users/<%=current_user.id%>">Profile</a></button>
				<% else %>
					<div class="user"><%= "Welcome Guest" %></div>
					<form action="/login" method="post">
						<input type="submit" value="Login">
					</form>
			<% end %>	
		</div>
		<div id="main-container">
			<%= yield %>
		</div>
	</body>
</html>