<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<title>Quora-Clone</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="navbar">
			<a class="quores" href="/">Quores</a>
			
			<div class="btn-group">
				<% if logged_in? %>
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <%= current_user.name %> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="/users/<%=current_user.id%>">Profile</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="/logout">Logout</a></li>
				  </ul>
				<% else %>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Guest <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
					  <li><a href="/login">Login</a></li>
					</ul>
				<% end %>
			</div>
	</div>
		<div id="main-container">
			<%= yield %>
		</div>
	</body>
</html>





